name: FB-Bot
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Libraries
        run: pip install pyTelegramBotAPI selenium
      - name: Execute Bot
        run: python fb.py
