name: Final Test
on: [push]
jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Tools
        run: pip install pyTelegramBotAPI selenium
      - name: Run
        run: python login_test.py
