name: Clean Run
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup
        run: pip install pyTelegramBotAPI selenium
      - name: Execute
        run: python login_test.py
