name: FB-Bot
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          pip install selenium pyTelegramBotAPI
      - name: Execute
        run: python fb.py
